## Linear Regression on Diabetes Data / Diabetes Prediction

In [ ]:
pip install scikit-learn

In [3]:
import pandas as pd

In [5]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

df = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.corr()

In [18]:
X = df.drop(columns='s6')
y = df['s6']

X,y

(          age       sex       bmi        bp        s1        s2        s3  \
 0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
 1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
 2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
 3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
 4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
 ..        ...       ...       ...       ...       ...       ...       ...
 437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
 438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
 439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
 440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
 441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

            s4        s5
 0   -0.002592  0.019907
 1   -0.039493 -0.068332
 2   -0.002592  0.002861
 3    0.034309  0.022688
 4   -0.002592 -0.031988
 ..        ...       ...
 437 -0.002592  0.031193
 438  0.034309 -0.018114
 439 -0.011080 -0.046883
 440  0.026560  0.044529
 441 -0.039493 -0.004222

 [442 rows x 9 columns],
 0     -0.017646
 1     -0.092204
 2     -0.025930
 3     -0.009362
 4     -0.046641
          ...
 437    0.007207
 438    0.044485
 439    0.015491
 440   -0.025930
 441    0.003064
 Name: s6, Length: 442, dtype: float64)

In [25]:
from sklearn.model_selection import train_test_split

#Create Train and Test Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2)
X_train

,age,sex,bmi,bp,s1,s2,s3,s4,s5
169,-0.001882,-0.044642,-0.026684,0.049415,0.058973,-0.016032,-0.047082,0.071210,0.133597
125,-0.005515,0.050680,-0.008362,-0.002228,-0.033216,-0.063630,-0.036038,-0.002592,0.080590
216,0.012648,0.050680,0.035829,0.049415,0.053469,0.074155,-0.069172,0.145012,0.045604
264,0.034443,0.050680,0.028284,-0.033213,-0.045599,-0.009769,-0.050764,-0.002592,-0.059471
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222
...,...,...,...,...,...,...,...,...,...
187,-0.067268,-0.044642,-0.054707,-0.026328,-0.075870,-0.082106,0.048640,-0.076395,-0.086827
282,0.070769,-0.044642,-0.005128,-0.005670,0.087868,0.102965,0.011824,0.034309,-0.008943
305,-0.009147,0.050680,-0.039618,-0.040099,-0.008449,0.016222,-0.065491,0.071210,0.017765
183,0.045341,0.050680,-0.035307,0.063187,-0.004321,-0.001627,-0.010266,-0.002592,0.015568
191,-0.005515,0.050680,-0.041774,-0.043542,-0.079998,-0.076156,-0.032356,-0.039493,0.010227

In [ ]:
from sklearn.linear_model import LinearRegression

linear_regression_model = LinearRegression()

linear_regression_model.fit(X_train, y_train)
linear_regression_model.coef_

array([ 0.1111405 ,  0.07205313,  0.13260472,  0.1792906 , -0.09788903,
        0.0979084 ,  0.1421923 ,  0.20364067,  0.22372863])

In [47]:
y_predicted = linear_regression_model.predict(X_test)
y_predicted

array([-0.00939488, -0.02310001,  0.00792411, -0.03085546,  0.00340231,
       -0.02489565,  0.00363392,  0.01843653,  0.03183434,  0.01501826,
       -0.01582444,  0.04743079, -0.02873747, -0.04499984, -0.04070959,
       -0.05164609, -0.00163362, -0.03505617,  0.01960012,  0.04594337,
       -0.01878528, -0.0031128 , -0.0010628 ,  0.01639183,  0.00040603,
       -0.02353897, -0.01464305,  0.02256653, -0.01253786,  0.05553948,
       -0.02644087,  0.05597653, -0.00839208, -0.01751697,  0.05209828,
       -0.0007914 , -0.0164434 ,  0.00284953, -0.00658406,  0.05787633,
        0.05266702,  0.02300448, -0.00440454, -0.00965241,  0.03656522,
        0.03724713,  0.01103446,  0.01738675, -0.01470025, -0.0046229 ,
       -0.0516696 ,  0.02041891, -0.01084999, -0.02442832,  0.011347  ,
        0.04000364, -0.02614953, -0.00921989,  0.01181623,  0.00537123,
        0.00026016,  0.00837848, -0.03203932, -0.02642911, -0.01924863,
       -0.04032662, -0.01232851, -0.05060281,  0.00738676,  0.01683675,
        0.03831091, -0.00640916,  0.01273283,  0.00179739,  0.00314339,
        0.03711291, -0.04504453, -0.01867316, -0.0083058 ,  0.04011938,
       -0.01676688,  0.04128237,  0.01445386, -0.04612267,  0.03919445,
        0.01131593,  0.01243533, -0.04024509,  0.00585286])

In [51]:
# X_test

In [52]:
# record_243 = X_test.loc[[243]]

# y_243_predicted = linear_regression_model.predict(record_243)
# y_243_predicted, y_test.loc[243]

In [53]:
# results = pd.DataFrame({
#     "y_actual": y_test,
#     "y_predicted": y_predicted
# })

# results

In [54]:
from sklearn.metrics import mean_absolute_error, root_mean_squared_error
mae = mean_absolute_error(y_predicted, y_test)
rmse = root_mean_squared_error(y_predicted, y_test)
mae, rmse

(0.027716809557742802, 0.03597483802307687)